.container{
    min-width: 120px;
    padding: 10px;
    border-radius: 20px;
    font-weight: 600;
    text-align: center;
  }
  
  .active{
    background-color: var(--text);
    color: var(--bg);
  }